---
layout: page
title: Archiv
---

{% for post in site.categories.blog %}
    {% if post.next %}
        {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
        {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
    {% endif %}
	
    {% if forloop.first %}
        <h2>{{ post.date | date: '%Y' }}</h2>
    {% else %}
        {% if year != nyear %}
            <h2>{{ post.date | date: '%Y' }}</h2>
        {% endif %}
    {% endif %}
    <p><a href="{{ post.url }}" class="headerLink">{{ post.date | date: "%d.%m.%Y" }} {{ post.title }}</a></p>		
{% endfor %}
