---
layout: main
title: l33tsource
---

<div class="row">
    <div class="span12">
        <h1>Welcome</h1>
        <p>On this Page ... i test something</p>
    </div>
</div>

<div class="row">
    <div class="span12">
        <h1>Featured Projects</h1>
    </div>
</div>
<div class="row">
    {% for post in site.categories.project limit: 3 %}
      {% assign content = post.content %}
      <div class="span4">
        <h2><a href="{{ post.url }}" class="headerLink">{{ post.title }}</a></h2>
        <div class="carousel slide" id="{{ forloop.index }}projectCarousel">
          <div class="carousel-inner">
            {% for image in post.images %}
              {% if forloop.first %}
                <div class="item active">
                  <img alt="" src="{{ image }}">
                </div>
              {% else %}
                <div class="item">
                  <img alt="" src="{{ image }}">
                </div>
              {% endif %}	
            {% endfor %}
          </div>
          <a data-slide="prev" href="#{{ forloop.index }}projectCarousel" class="left carousel-control">‹</a>
          <a data-slide="next" href="#{{ forloop.index }}projectCarousel" class="right carousel-control">›</a>
        </div>
      <p>{{ post.description }}</p>
      <p><a class="btn" href="{{ post.url }}">View details &raquo;</a></p>
    </div>
    {% endfor %}
</div>

<div class="row">
    <div class="span12">
        <h1>Blog Posts</h1>
    </div>
</div>
<div class="row" id="blogPosts"> 
    {% for post in site.categories.blog limit: 4 %}
      {% assign content = post.content %}
      <div class="span3">
          <h4><a href="{{ post.url }}" class="headerLink">{{ post.title }}</a></h4>
          <p>{{ post.description }}</p>
          <p><a class="btn" href="{{ post.url }}">View details &raquo;</a></p>
      </div>
    {% endfor %}
</div>
