---
layout: main
title: l33tsource
---

<div class="row">
    <div class="span12">
        <h1><a href="/projekte" class="headerLink">Projects</a></h1>
    </div>
</div>
<div class="row">
    {% for post in site.categories.projekte limit: 3 %}
      {% assign content = post.content %}
      <div class="span4">
        <h3><a href="{{ post.url }}" class="headerLink">{{ post.title }}</a></h3>
        <div class="carousel slide" id="{{ forloop.index }}projectCarousel">
          <div class="carousel-inner">
            {% for image in post.images %}
              <div class="item{% if forloop.first %} active{% endif %}">
                <img src="assets/img/project/{{ image }}">
              </div>
            {% endfor %}
          </div>
          <a data-slide="prev" href="#{{ forloop.index }}projectCarousel" class="left carousel-control">‹</a>
          <a data-slide="next" href="#{{ forloop.index }}projectCarousel" class="right carousel-control">›</a>
        </div>
    </div>
    {% endfor %}
</div>

<div class="row">
    <div class="span12">
        <h1><a href="/blog" class="headerLink">Blog Posts</a></h1>
    </div>
</div>
<div class="row" id="blogPosts"> 
    {% for post in site.categories.blog limit: 4 %}
      {% assign content = post.content %}
      <div class="span3">
          <h3><a href="{{ post.url }}" class="headerLink">{{ post.title }}</a></h3>
          <p>{{ post.description }}</p>
      </div>
    {% endfor %}
</div>
