<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <!--<a class="brand" href="#">code2source.ch</a>-->
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a href="/">Home</a></li>
                    <li><a href="/blog/">Blog</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Contact</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Projects <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="nav-header">All Projects</li>
                            <li><a href="#">Overview</a></li>
                            <li class="divider"></li>
                            <li class="nav-header">Each Project</li>
                            <li><a href="#">Project 1</a></li>
                            <li><a href="#">Project 2</a></li>
                            <li><a href="#">Project 3</a></li>
                        </ul>
                    </li>
                </ul>
                <!--<form class="navbar-form pull-right">
                    <input class="span2" type="text" placeholder="Email">
                    <input class="span2" type="password" placeholder="Password">
                    <button type="submit" class="btn">Sign in</button>
                </form>-->
                <!--<form class="navbar-form pull-right" method="get">
                    <input class="search-query span2" type="search" placeholder="Search">
                             
                    <button type="submit" class="btn"><i class="icon-search"></i></button>
                </form>-->
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>