<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

<script src="/js/vendor/bootstrap.min.js"></script>

<script src="/js/main.js"></script>

<!--<script type="text/javascript">
    $(document).ready(function() {
        $('#home').removeClass('active');
        $('#blog').removeClass('active');
        $('#about').removeClass('active');
        $('#contact').removeClass('active');
        $('#projects').removeClass('active');
        
        if (window.location.pathname.match(/home$/)) {
            $('#home').addClass('active');
        }

        if (window.location.pathname.match(/blog$/)) {
            $('#blog').addClass('active');
        }

        if (window.location.pathname.match(/about$/)) {
            $('#about').addClass('active');
        }

        if (window.location.pathname.match(/contact$/)) {
            $('#contact').addClass('active');
        }

        if (window.location.pathname.match(/projects$/)) {
            $('#projects').addClass('active');
        }
    });
    
</script>-->

<!-- Piwik main -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(["trackPageView"]);
  _paq.push(["enableLinkTracking"]);

  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://stats.l33t.aries.uberspace.de/piwik/";
    _paq.push(["setTrackerUrl", u+"piwik.php"]);
    _paq.push(["setSiteId", "1"]);
    var d=document, g=d.createElement("script"), s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
    g.defer=true; g.async=true; g.src=u+"piwik.js"; s.parentNode.insertBefore(g,s);
  })();
</script>
<img src="https://stats.l33t.aries.uberspace.de/piwik/piwik.php?idsite=1&amp;rec=1" style="border:0" alt="" />
<!-- End Piwik Code -->

</body>
</html>