---
layout: main
---

<div class="row">
    <div class="span12">
        <h1>Blog Posts Archiv</h1>
    </div>
</div>

{% for post in site.categories.blog %}
    {% assign content = post.content %}
    <div class="row">
        <div class="span3">
            <p>{{ post.date | date: "%d.%m.%Y" }}</p>
        </div>
        <div class="span9">
            <p><a href="{{ post.url }}" class="headerLink">{{ post.title }}</a></p>
        </div>
    </div>        
{% endfor %}

	<div class="row">
	{% for post in site.posts %}
	
		{% if post.next %}		
				{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
				{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
				{% capture month %}{{ post.date | date: '%B' }}{% endcapture %}
				{% capture nmonth %}{{ post.next.date | date: '%B' }}{% endcapture %}
		{% endif %}
		
		{% if forloop.first %}				
		
    <h3>{{ post.date | date: '%Y' }}</h3>		
    <h5>{{ post.date | date: '%B' }}</h5>		
		{% else %}
			<!-- all other posts -->								
				{% if year != nyear %}	
						<h3>{{ post.date | date: '%Y' }}</h3>		
            <h5>{{ post.date | date: '%B' }}</h5>
				{% elsif month != nmonth %}
						<h5>{{ post.date | date: '%B' }}</h5>										
				{% endif %}					
	   {% endif %}	
	   <p><a href="{{ post.url }}">{{ post.title }}</a></p>
    		   		
	{% endfor %}														
	</div>	