{% include head.html %}
{% include navigation.html %}

<div class="container">
  <div class="row">
    <div class="span8">
      {{ content }}
    </div>
    <div class="span4">
      <div class="well">
        <h2>About</h2>
        <h4>Tags:</h4>
          <ul class="tag_box">
            {% for tag in page.tags %}
              <li>{{ tag }}</li>
            {% endfor %}
          </ul>
          <h4>Blogroll:</h4>
          <ul class="tag_box">
            <li><a href="http://d3f.rout0r.org/">Der kleine d3f im großen Teich</a></li>
            <li><a href="http://blog.l3r.de/">l3r - Technik, Linux, Android and other stuff</a></li>
            <li><a href="http://www.revengeday.de/">Revengeday nerdness 2.1</a></li>
            <li><a href="http://blog.malte-bublitz.de/">Maltes Blog</a></li>
          </ul>
      </div>
    </div>
  </div>
  {% include footer.html %}
</div>
{% include scripts.html %}
