{% include head.html %}
{% include navigation.html %}

<div class="container">

    <div class="row">
      <div class="span9">
        {{ content }}
      </div>
      <div class="span3 well">
        <h3>{{ post.title }}</h3>
        <p>{{ post.description }}</p>
        <h4>Tags:</h4>
        <ul class="tag_box">
          {% for tag in post.tags %}
            <li>{{ tag }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
            
    {% include footer.html %}

</div>

{% include scripts.html %}